<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Add</display-name>
		<servlet-name>Add</servlet-name>
		<servlet-class>master.servlet.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/Add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServe</display-name>
		<servlet-name>LoginServe</servlet-name>
		<servlet-class>master.servlet.LoginServe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServe</servlet-name>
		<url-pattern>/LoginServe</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Delete</display-name>
		<servlet-name>Delete</servlet-name>
		<servlet-class>master.servlet.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Update</display-name>
		<servlet-name>Update</servlet-name>
		<servlet-class>master.servlet.Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogServe</display-name>
		<servlet-name>LogServe</servlet-name>
		<servlet-class>master.servlet.LogServe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogServe</servlet-name>
		<url-pattern>/LogServe</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminServe</display-name>
		<servlet-name>AdminServe</servlet-name>
		<servlet-class>master.servlet.AdminServe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServe</servlet-name>
		<url-pattern>/AdminServe</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotPassword</display-name>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>master.servlet.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>master.servlet.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Exams</display-name>
		<servlet-name>Exams</servlet-name>
		<servlet-class>master.servlet.Exams</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Exams</servlet-name>
		<url-pattern>/Exams</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Subjects</display-name>
		<servlet-name>Subjects</servlet-name>
		<servlet-class>master.servlet.Subjects</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subjects</servlet-name>
		<url-pattern>/Subjects</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QuestionSet</display-name>
		<servlet-name>QuestionSet</servlet-name>
		<servlet-class>master.servlet.QuestionSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionSet</servlet-name>
		<url-pattern>/QuestionSet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>addStudentsByAdmin</display-name>
		<servlet-name>addStudentsByAdmin</servlet-name>
		<servlet-class>master.servlet.addStudentsByAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addStudentsByAdmin</servlet-name>
		<url-pattern>/addStudentsByAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>studentPasswordChange</display-name>
		<servlet-name>studentPasswordChange</servlet-name>
		<servlet-class>master.servlet.studentPasswordChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studentPasswordChange</servlet-name>
		<url-pattern>/studentPasswordChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Update1</display-name>
		<servlet-name>Update1</servlet-name>
		<servlet-class>master.servlet.Update1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update1</servlet-name>
		<url-pattern>/Update1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>editQuestion</display-name>
		<servlet-name>editQuestion</servlet-name>
		<servlet-class>master.servlet.editQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editQuestion</servlet-name>
		<url-pattern>/editQuestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteQues</display-name>
		<servlet-name>DeleteQues</servlet-name>
		<servlet-class>master.servlet.DeleteQues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteQues</servlet-name>
		<url-pattern>/DeleteQues</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteSub</display-name>
		<servlet-name>DeleteSub</servlet-name>
		<servlet-class>master.servlet.DeleteSub</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSub</servlet-name>
		<url-pattern>/DeleteSub</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Examination</display-name>
		<servlet-name>Examination</servlet-name>
		<servlet-class>master.servlet.Examination</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Examination</servlet-name>
		<url-pattern>/Examination</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Score</display-name>
		<servlet-name>Score</servlet-name>
		<servlet-class>master.servlet.Score</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Score</servlet-name>
		<url-pattern>/Score</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddAdmin</display-name>
		<servlet-name>AddAdmin</servlet-name>
		<servlet-class>master.servlet.AddAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdmin</servlet-name>
		<url-pattern>/AddAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminPassChange</display-name>
		<servlet-name>AdminPassChange</servlet-name>
		<servlet-class>master.servlet.AdminPassChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminPassChange</servlet-name>
		<url-pattern>/AdminPassChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>addForgotPass</display-name>
		<servlet-name>addForgotPass</servlet-name>
		<servlet-class>master.servlet.addForgotPass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addForgotPass</servlet-name>
		<url-pattern>/addForgotPass</url-pattern>
	</servlet-mapping>
</web-app>